# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# --- FRONTEND ---
# dependencies
/.idea/
.pnp
.pnp.js
.yarn/install-state.gz

# testing
coverage

# next.js
.next/
out/

# production
build

# misc
.DS_Store
*.pem
yarn.lock

# debug
*/npm-debug.log*
*/yarn-debug.log*
*/yarn-error.log*

# env files
.env
.env*.local

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

# --- BACKEND ---

# compiled output
/dist
/node_modules

# Logs
*/logs
*.log
*/pnpm-debug.log*
*/lerna-debug.log*

# OS
*.DS_Store

# Tests
*/coverage
*/.nyc_output

# IDEs and editors
*/.idea
*/.project
*/.classpath
*/.c9/
*.launch
*/.settings/
*.sublime-workspace

# IDE - VSCode
*/.vscode/*
*/!.vscode/settings.json
*/!.vscode/tasks.json
*/!.vscode/launch.json
*/!.vscode/extensions.json

*.env
node_modules
